/*========================= Home Page Styles ======================================*/
.ActivityImagePad {
    padding-left: 0;
    padding-right: 10px;
}
.activityHolder {
    min-height: 200px;
}
.BoxShadow {
    box-shadow: 5px 5px 14px 0 rgba(61,57,53,.5);
}

.btn.home-search-button {
    margin-top: -15px;
}

body.kc-css-system .kc-css-735420{
    padding-bottom: 0px;
}


input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], textarea.materialize-textarea {
    font: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}
/*========== How to Book Section ==============*/
body.kc-css-system .kc-css-984974 i {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(136, 212, 152, 1);
    font-size: 38px;
    line-height: 90px;
    width: 90px;
    height: 90px;
    border: 2px solid rgba(136, 212, 152, 1);
    border-radius: 50% 50% 50% 50%;
}
[class*=" et-"], [class^="et-"]:before, [class*=" et-"]:before{
font-weight: bold;
}

body.kc-css-system .kc-css-984974:hover i {
    color: rgba(136, 212, 152, 1);
    background-color: transparent;
    border-radius: 0 0 0 0;
}

body.kc-css-system .kc-css-503273 i {
    color: #FFFFFF;
    background-color: #FFCA00;
    font-size: 38px;
    line-height: 90px;
    width: 90px;
    height: 90px;
    border: 2px solid #FFCA00;
    border-radius: 50% 50% 50% 50%;
}

body.kc-css-system .kc-css-503273:hover i {
    color: #FFCA00;
    background-color: transparent;
    border-radius: 0 0 0 0;
}


body.kc-css-system .kc-css-722658 i {
    color: #FFFFFF;
    background-color: #47B8E0;
    font-size: 38px;
    line-height: 90px;
    width: 90px;
    height: 90px;
    border: 2px solid #47B8E0;
    border-radius: 50% 50% 50% 50%;
}
body.kc-css-system .kc-css-722658:hover i {
    color: #47B8E0;
    background-color: transparent;
    border-radius: 0 0 0 0;
}
body.kc-css-system .kc-css-722658 i.plane-icon {
    color: #FFFFFF;
    background-color: rgba(254, 95, 85, 1);
    font-size: 38px;
    line-height: 90px;
    width: 90px;
    height: 90px;
    border: 2px solid rgba(254, 95, 85, 1);
    border-radius: 50% 50% 50% 50%;
}
body.kc-css-system .kc-css-722658:hover i.plane-icon {
    color: rgba(254, 95, 85, 1);
    background-color: transparent;
    border-radius: 0 0 0 0;
}
.kc_text_block.para,.para-title{
    color: rgba(255, 255, 255, 1); 
}
.kc_title{
    color: #eee;
}
/*========== //How to Book Section ==============*/


body
{
    padding: 0px;
}
.btn-default {
    color: #fff;
    background-color: #00CEBF;
    border-color: #00CEBF;
}
.btn-default:hover {
  color: #fff;
    background-color: #008991;
    border-color: #008991;  
}
/*==========================Most Popular Venues ============================*/
.element-block-heading-Trending
{
    text-align:center;
    margin-top: 30px !important;
    margin-bottom: 40px !important;
}
.element-block-heading-Trending .heading-block-Trending {
    position: relative;
    font-size: 25px;
    margin-top: 0;
}

.element-block-heading-Trending .sub-heading-block-Trending {
    font-size: 16px;
    font-weight: 300;
    color: #999;
    font-family: Heebo,sans-serif;
    text-transform: none;
    margin-top: 0;
    line-height: 25px;
}
/*Most popular venue css heding blocak */
a:focus, a:hover {
    color: #00bac6;
    /*text-decoration: underline;*/
}
.bookmark {
    font-family: Heebo!important;
    font-weight: 500!important;
}
/*==========================Most Popular Venues ended============================*/

/*==============================box bloack name address hedding  start=============================*/

header {
    overflow: hidden;
}
.place-box-image-block img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .6s ease-in-out;
}
.place-box-image-block:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.place-title-block {
    font-size: 18px;
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 5px;
}

.place-address-block {
    color: #a1a1a1;
    font-size: 13px;
}

.place-address-block i {
    color: #a1a1a1;
}

.place-meta-block {
    margin-top: 20px;
    position: relative;
}

.comment-rating-block {
    color: #f37737;
    /*    letter-spacing: 3px;*/
    float: left;
}

.comment-rating-block span {
    color: #f37737;
}

.comment-rating-block span {
    overflow: hidden;
    font-family: Fontawesome;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    color: #c5d244;
}


.comment-rating-block {
    display: inline-block;
    float: left;
}

.comment-rating-block {
    font-size: 14px;
}

.comment-rating-block {
    position: relative;
    display: inline-block;
}

.listing-count-reviews-block {
    color: #a1a1a1;

    margin-top: 20px;

}

.current-status-block {
    position: absolute;
    right: 0;
    /*    top: 3px;*/
    color: #00bac6;
}
.opening-blcok{

    position: absolute;
    right: 25px;
    /*top: 3px;*/
    color: #00bac6;
}
.opening-blcok-element {
    /*position: absolute;*/
    right: 25px;
    /* top: 3px; */
    color: #00bac6;
}

.current-status-block.closed {
    color: #f37737;
}
.box-block-view {
    /*    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
    /*    background-color: #ffffff;
        box-shadow: 0px 8px 16px #888888;*/
    padding: 20px;
    text-align: left;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px
}
/*============== box bloack name address hedding ended ====================*/

/*========= Testimonial ===================*/

.carousel .carousel-indicators .active {
    height: 20px;
    width: 20px;
    background-color: #00B9C4;
}
 .kingcomposer div.kc_column.testimonial-style{
    margin-top: 80px;
 }

/*========= Testimonial ===================*/

/*==============================//Home Page Styles================================================*/

/*============================== Banner Styles ==================================================*/
#opal-breadscrumb {
    margin-top: -63px;
}

#opal-breadscrumb .navheading{

	margin-top:110px;
}
/*===================== Banner Heading ====================*/
#listvenue-image .venuheading{

	margin:75px;
	font-size: 36px;
}
/*===================== //Banner Heading ====================*/
#listvenue-image .logheading{

	margin:85px;
	font-size: 36px;
}
.panel-default .panel-heading.logpanel{
    background-color: #2BBBAD;
    border-radius: 0px;
    text-align: center;
    margin-top: -60px;
    font-size: 20px;
    }
    .panel-default .panel-heading.reset-panel{
    background-color: #2BBBAD;
    border-radius: 0px;
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    }
    .btn-remember:hover {
    background-color: #C53528;
    color: #fff;
}
.btn-remember{
    background-color: #dd4b39;
    color: #fff;
}
.panel-default.reset-panel{
    margin-top: 40px;
}

#listvenue-image {
    margin-bottom: 70px;
    padding-bottom: 10px;
    padding-top: 40px;
    text-align: center;
    background-image: url(../images/background-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.listvenue-image-margin {
    margin-top: 0px;
}
.listvenue-image-margin2 {
    margin-top: -22px;
}
#listvenue-image h2 {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
}

/*============================== //Banner Styles ==================================================*/

/*============================== pricing page =====================================================*/

.btn-primary:hover, .btn-primary:focus {
    background-color: #008991 !important;
    }

.tag
{
font-size: 1.4rem;
}
.pricing-page{
    padding-bottom: 25px;
}
/*============================== //pricing page =================================================*/

/*============================= Error 404 page ========================================*/
.input-group .input-search{
margin-top: 15px;
}
.searchform .form-control{
  border: none;
    border-bottom: 1px solid #9e9e9e;  
}
.opal-search .btn-search {
    border: 0px;
    background: none !important;
}
.opal-search .btn-search input {
    color: #00B9C4;
}
/*============================ //Error 404 Page =======================================*/

/*=============================== Footer Styles ==============================================*/

/*============== Company Logo Styles ====================*/
.link-developed-by img{
    max-width: 100%;
    width:200px;
}

.link-developed-by:hover img{
     filter:brightness(80%);
}

/*============== Company Logo Styles =======================*/

/*=============================== Footer Styles ==============================================*/


/*================================= Venue Page Styles =========================================*/

/*============= Form Styles ==================*/

/*.panel-default {
    border-color: #ccc;
}*/
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00B9C4;
    box-shadow: 0 1px 0 0 #00B9C4;
}
textarea:focus:not([readonly])
{
    border: 1px solid #00B9C4;
    box-shadow: 0 1px 0 0 #00B9C4;
}

#text-editor{
    border: 1px solid #ccc;
}

.form-align{
    min-width: 35.33333%;
}

.textarea-style{
    border: 1px solid #9e9e9e;
}

.starrr{
    padding-left: 0px;
}

/*============= Form Styles ==================*/

/*========= Show Venue Slider =============*/

.owl-theme .owl-dots .owl-dot {
    border: none;
    background-color: transparent;
}
.owl-carousel {
     z-index: 0; 
}
/*========= Show Venue Slider =============*/

#venue-title p {
    display: block;
    color: #00bac6;
    font-size: 18px;
    font-style: italic;
}
#venue-desc p {
    font-size: 14px;
}
/*================== Radio Buttun Styles ====================*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #2BBBAD;
    background: #2BBBAD;
    font-weight: normal;
    color: #ffffff;
}
/*================ //Radio Buttun Styles ====================*/

/*=============== Map Styles ========================*/
.map-address
{
    border: 1px solid #ccc;
}
/*=============== //Map Styles ======================*/

.form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}
#opallisting-comments .comment-list .comment .comment-author .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    color: #fff;
    line-height: 48px;
    margin: 0 auto;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    text-transform: uppercase;
    background: #00B9C4;
}

.rating .fa-star:before {
    color: #f37737;
}
.rating .fa-star-half-alt:before {
    color: #f37737;
}
.opallisting-place-meta .comment-rating-wrap{
    font-size: 13px;
}
.opallisting-claim-form .submit, .opallisting-form .submit{
    margin-left: 1px;
}
.close, .close:hover{
    opacity: 1;
}
/*================================= Show Venue Page =========================================*/

/*======================= Search Page Styles ===================================*/
.search-page {
    padding: 10px;
}
.places-section{
height: 622px;/*..very important if you want scroll bar...*/
 overflow:auto; /*..will introduce scroll bar when needed..*/
}
.opallisting-map-preview-wrapper{
    margin-bottom: 0px;
}
@media(min-width: 768px){
    #map-button{
        display: none;
    }
}

.search-filter{
    
    padding-top: 10px;
}
.search-page-filter{
   padding-left: 15px; 
}
#ex1Slider .slider-selection {
    background: #F87540;
}
.slider .tooltip.top {
     margin-top: -75px; 
}
.slider-handle{
   background-image: linear-gradient(to bottom,#7BDBE0 0,#00888F 100%);
}
.filter-button{
    border-radius: 25px;
}
/*======================= //Search Page Styles =================================*/

/*logo background color*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: -15px;
      background-color: rgba(255, 255, 255, 0.70);
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      height: 70px;
      *background:transparent;*
    /* border: 2px solid #F47542;*/
    }

    .panel-default {
    border-color: #f5f5f5;
    }
.form-control{
    border: 1px solid #9e9e9e;
}
.row.row-margin
{
    margin-right: 0px;
    margin-left: 0px;  
}
.btn-default
{
     border: none !important;
    margin:0px;
}
.btn-default:hover {
    border-color: #00bac6;
}
.btn-default:active:focus:visited:focus-within
{   
    border: none !important;
    border-color: #00bac6;
}
.trending-image
{
    padding: 10px;
}
/*.category-heading:{
    background: #fff;
    color: #404551;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
.category-heading a {
        color: #fff; 
    }

.category-heading {
  background: #00bac6;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }*/
 .owl-carousel-item-title:hover {
      background: #00bac6;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
      .opallisting-carousel .item:hover .owl-carousel-item-title a {
        color: #fff; 
    }
   