
/*mdbootstrap modify font */
h2 {
    font-size: 2.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

.recently_bg_img {
    width: 100%;
    position: relative;
}

.recently_img {
    overflow: hidden;
    text-align: center;
    position: relative;
}

.recently_price {
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(53, 36, 4, 0.541176);
    padding: 3px 8px;
}

.like_img_detail {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
    padding: 10px 4%;
}

.recently_name {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.2;
    margin-top: 8px;
    font-family: ProximaNova-Regular, 'Helvetica Neue', helvetica, arial, sans-serif;
}

.recently_add {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    font-family: ProximaNova-Regular, 'Helvetica Neue', helvetica, arial, sans-serif;
}

.recently_category {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    font-family: ProximaNova-Regular, 'Helvetica Neue', helvetica, arial, sans-serif;
}

.recently_img img {
    width: 100%;
    height: auto;
}

.detail_banner_caption {
    padding: 10px 0px;
}

h1.detail_venue_name {
    padding: 0;
    margin: 0 0 5px 0;
    color: #2c2c2c;
    font-size: 30px;
    font-family: "Futura-Medium", "Helvetica Neue", helvetica, arial, sans-serif;
    text-transform: capitalize;
    line-height: 1;
    font-weight: bold;
}

.detail_add {
    font-family: "Futura-Medium", "Helvetica Neue", helvetica, arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    margin: 5px 0;
    color: #2c2c2c;
}

.detail_gray_bg {
    background-color: #f4f3f0;
}

.detail_white_outer {
    background-color: #fff;
    margin: 15px 0;
    box-shadow: 0px 0px 4px #BDBDBD;
}

.detail_white_rating_bx {
    float: left;
    margin: 5px 0;
}

.margin_right_5 {
    margin-right: 5px;
}

.detail_capacity {
    margin-top: 2px;
    margin-left: 10px;
    color: #2c2c2c;
}

.detail_send_enquiry {
    margin: 10px 0 0 0;
}

.detail_send_enquiry_btn {
    color: #888;
    padding: 10px 15px;
    border: 1px solid #888;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    display: none;
}

.detail_send_enquiry_btn:hover {
    background-color: #888;
    color: #fff;
}

.detail_btns {
    margin: 0 10px 0 0;
}

.detail_btns img {
    width: 30px;
    vertical-align: middle;
}

.detail_left_info {
    padding: 1% 0;
    border-right: 1px solid #e0e0e0;
}

.detail_right_info {
    padding: 0% 0;
    text-align: center;
}

.D_starting_prc {
    font-size: 12px;
    font-weight: bold;
    color: #2c2c2c;
/*    text-transform: uppercase;*/
    margin: 5px 0 0 0;
}

.D_prc_amt {
    font-weight: bold;
    font-size: 30px;
    color: #2c2c2c;
    line-height: 1.2;
    margin: 5px 0 8px 0;
}

.detail_book_request {
    background-color:#52a3b2;
    color: #fff;
    padding: 14px 25px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.detail_instbook_request {
    background-color: #FF5A5F;
    color: #fff;
    padding: 8px 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.detail_banner_outer {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.detail_blr_banner {
    position: relative;
    height: 100%;
    width: 100%;
}

.detail_blr_banner img {
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-filter: blur(14px);
    -moz-filter: blur(14px);
    -o-filter: blur(14px);
    -ms-filter: blur(14px);
    filter: blur(3px);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='14');
}

.detail_mask {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.detail_banner_bx {
    position: absolute;
    top: 19%;
    left: 0;
    z-index: 2;
    width: 98%;
    max-width: 1005px;
    margin: 0 auto;
    right: 0;
}

.detail_left_outer {
    width: 35%;
    background-color: #fff;
    float: left;
}

.detail_package_outer {
    width: 100%;
    padding: 10px;
}

.detail_enquiry_outer {
    width: 100%;
/*    position: relative;*/
text-align: center;
margin-left: 350px;
    height: 320px;
    background-color: #FCFCFC;
}

.detail_img_outer {
    width: 47%;
    float: left;
    height: 320px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 24px;
}

.detail_img_outer img {
    height: 100%;
}

.detail_package_outer {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 1%;
}

.D_pkg_outer {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.D_pkg_title {
    display: inline-block;
    color: #2c2c2c;
    font-size: 16px;
    margin-right: 8px;
    margin-left: 8px;
    float: left;
}

.D_pkg_right_arw {
    float: right;
    display: block;
    padding-top: 6px;
}

.D_pkg_price {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    color: #2c2c2c;
    font-size: 13px;
    font-weight: normal;
    float: right;
    width: 200px;
    text-align: left;
}

.D_pkg_main_prc {
    color: #b12704;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.D_pkg_sub_prc {
    float: left;
    font-size: 20px;
    color: #2c2c2c;
    padding-left: 8px;
    text-decoration: line-through;
}

.D_pkg_per {
    line-height: 1;
    font-size: 13px;
    font-weight: normal;
    margin-top: 3px;
    color: gray;
}

.D_pkg_right_arw a {
    vertical-align: middle;
    font-size: 18px;
    color: #2c2c2c;
    font-weight: bold;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.D_pkg_view_btn {
    display: flex;
    height: 100%;
    float: right;
    width: 110px;
}

.D_pkg_view_btn a {
    background-color: #25AAE1;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
}

.detail_description_outer {
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 1%;
}

.D_desp_heading {
    color: #777777;
    font-size: 15px;
    margin: 10px 0 15px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 1%;
}

p.D_desp_para {
    font-size: 15px;
    color: #2c2c2c;
    margin: 0;
    text-align: justify;
}

.venue_desc {
    padding: 0 1% 0 1%;
}

.detail_cmn_outer {
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 1%;
}

.D_all_type {
    margin-bottom: 20px;
    color: #2c2c2c;
    font-size: 15px;
}

.D_all_type a {
    color: #2c2c2c;
    font-size: 15px;
}

.D_all_icon img {
    width: 20px;
    vertical-align: middle;
}

.D_type_txt {
    float: left;
    width: 84%;
    line-height: 1.1;
    display: block;
    margin-top: 2px;
}

.detail_map_outer {
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 1%;
}

.detail_rating_review_outer {
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 1%;
}

.detail_like_outer {
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 1%;
}

.mv_related_wrapper {
    margin-bottom: 20px;
}

.related_heading {
    color: #303f9f;
    font-size: 13px;
    margin: 10px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bolder;
}

.mv_related_wrapper a {
    color: #565656;
    line-height: 22px;
    margin-bottom: 5px;
    font-size: 12px;
}

.mv_related_wrapper a:hover {
    text-decoration: underline;
}

.D_user_review_txt {
    float: left;
}

.submit_review_btn {
    background-color: #303f9f;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.D_enq_top {
    background-color: #303f9f;
    color: #fff;
    text-align: center;
    padding: 0px 10px;
    font-size: 16px;
    position: absolute;
    width: 100%;
    top: 0;
    height: 40px;
    line-height: 38px;
}
/* height: 265px sileder from;*/
.D_enq_middle {
    position: relative;
    top: 10px;
/*    overflow: auto;*/
/*     height: 265px sileder from;*/
/*    height: 465px;
*/    padding: 0 10px;
}

.D_enq_bottom {
/*    position: absolute;*/
    bottom: 10px;
    padding: 0px 10px;
    width: 100%;
}

.D_eqy_select {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 5px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

.D_eqy_date {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_calender.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.D_eqy_guest {
    width: 48%;
    float: left;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_guest.png) #fff no-repeat 95% center;
    background-size: 20px;
}

.D_eqy_budget {
    width: 48%;
    float: right;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_budget.png) #fff no-repeat 95% center;
    background-size: 20px;
}

.D_eqy_user {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_user.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.D_eqy_email {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_email.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.D_eqy_mobile {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_mobile.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.D_eqy_send {
    background-color: #52afbd;
    color: #fff;
    font-size: 14px;
    float: left;
    padding: 8px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: 1px solid #303F9F;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.D_eqy_send:hover {
    background-color: transparent;
    color: #303F9F;
}

.D_eqy_heading {
    text-transform: capitalize;
    font-size: 13px;
    color: #2c2c2c;
    line-height: 1;
}

.detail_right_outer {
    width: 14%;
    overflow: auto;
    height: 320px;
    overflow-x: hidden;
}

.img_popup {
    margin-bottom: 8px;
}

.img_popup img {
    width: 100%;
    height: 75px;
}

.detail_right_outer::-webkit-scrollbar {
    width: 8px;
}

.D_eqy_event {
    position: relative;
    width: 100%;
}

.D_eqy_event_list::-webkit-scrollbar {
    width: 8px;
}

.D_eqy_event_list {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 30px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    height: 200px;
    overflow: auto;
}

.D_event_heading {
    background-color: #EFEFEF;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #808080;
    text-transform: uppercase;
}

ul.D_event_list {}

.D_event_list li {
    padding: 0px 10px;
    border-bottom: 1px solid #EFEFEF;
}

.D_event_list li a {
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    color: #2c2c2c;
}

.D_eqy_comment {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    height: 60px;
    font-family: "ProximaNova-Regular", "Helvetica Neue", helvetica, arial, sans-serif!important;
    padding-top: 5px;
    font-size: 14px;
}

.detail_ads_outer {
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.detail_pg_img img {
    width: 100%;
}

.detail_pg_img {
    padding: 5px 0;
    line-height: 1;
    position: relative;
}

.detail_pg_img a {
    line-height: 1;
    display: inline-block;
}

.ads_venue_title {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-shadow: 0px 2px 6px #000;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.3px;
    line-height: 1.3;
    font-family: "Futura-Medium", "Helvetica Neue", helvetica, arial, sans-serif;
    padding: 0 5px;
}

.D_all_icon {
    margin-right: 5px;
    float: left;
    display: block;
    line-height: 1;
}

.D_confi_img {
    display: block;
    line-height: 1;
}

.D_confi_img img {
    width: 60px;
}

.detail_app_outer {
    background-color: #fff;
    box-shadow: 0px 0px 4px #BDBDBD;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.D_app_title {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    padding-top: 5px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif!important;
    letter-spacing: 1px;
    line-height: 1.1;
    text-align: center;
}

.D_app_subtxt {
    font-weight: normal;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif!important;
    letter-spacing: 1px;
}

.D_app_form {}

.Dpg_app_no {
    height: 30px;
    width: 100%;
    border: 1px solid #e0e0e0;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 10px;
    color: #777;
}

.Dpg_app_btn {
    height: 30px;
    width: 100%;
    border: 1px solid #26A9E1;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif!important;
    letter-spacing: 1px;
    vertical-align: bottom;
    background-color: #26A9E1;
    cursor: pointer;
}

.D_app_img {
    text-align: center;
    overflow: hidden;
    border: 4px solid #E2DFDF;
    padding: 10% 10% 6% 10%;
    width: 200px;
    height: 200px;
    box-shadow: inset 0px 0px 50px #BFBFBF;
    margin: 10px auto;
}

.D_app_img img {
    width: 100%;
}

.Detail_pg_width {
    max-width: 1024px!important;
}

.D_review_name {
    float: left;
}

.D_review_name a {
    font-size: 16px;
    color: #303F9F;
    font-weight: bold;
    line-height: 1;
}

.D_user_img {
    width: 120px!important;
}

.D_user_img img {
    width: 100px;
    height: 100px;
}

.D_rewieved {
    float: left;
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
    margin: 5px 10px 5px 0;
    line-height: 1;
    color: #2c2c2c;
    font-size: 13px;
}

.D_rewiev_date {
    float: left;
    margin: 5px 0 5px 0;
    line-height: 1;
    color: #2c2c2c;
    font-size: 13px;
}

.D_review_star {
    float: right;
}

.D_review_message {
    padding-right: 10px;
    margin: 5px 0px 15px 0;
    line-height: 1;
    color: #2c2c2c;
    font-size: 13px;
}

.D_user_reviews_bx {
    margin-bottom: 15px;
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 15px;
}

.D_user_review_heading {
    color: #777777;
    font-size: 13px;
    margin: 20px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bolder;
}

.req_to_book_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    overflow-x: hidden;
    z-index: 999999;
    display: block;
}

.req_to_book_inner {
    background-color: #fff;
    width: 70%;
    min-height: 100px;
    position: relative;
    top: 8%;
    min-height: 50px;
    margin: 20px auto;
    border-radius: 0px;
    padding: 15px;
    text-align: left;
}

.req_to_book_close {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #FFF;
    font-size: 14px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    background: #8C8C8C;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 2px solid #fff;
    cursor: pointer;
}

.req_book_heading {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1;
}

.req_left_bx {
    width: 48%;
    float: left;
}

.req_right_bx {
    width: 48%;
    float: right;
    position: relative;
}

.req_name {
    width: 100%;
    margin-bottom: 15px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_user.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.req_email {
    width: 100%;
    margin-bottom: 15px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_email.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.req_mobile {
    width: 100%;
    margin-bottom: 15px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_mobile.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.req_budget {
    width: 100%;
    margin-bottom: 15px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_budget.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.req_note {
    width: 100%;
    height: 100px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    font-family: "ProximaNova-Regular", "Helvetica Neue", helvetica, arial, sans-serif!important;
    padding-top: 5px;
}

.req_event_select {
    width: 100%;
    margin-bottom: 15px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 5px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

.req_event_list {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 30px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    height: 200px;
    overflow: auto;
    text-align: left;
}

.req_event_heading {
    background-color: #EFEFEF;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #808080;
    text-transform: uppercase;
}

.req_list {}

.req_list li {
    padding: 0px 10px;
    border-bottom: 1px solid #EFEFEF;
}

.req_list li a {
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    color: #2c2c2c;
}

.req_book_by {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 12px;
    margin-top: 8px;
    color: #303f9f;
    text-transform: uppercase;
    margin-left: 4px;
}

.req_per_booking {
    margin-right: 15px;
    margin: 0 15px 15px 0;
    display: inline-block;
    line-height: 1;
}

.req_per_booking input {
    vertical-align: bottom;
}

.req_pr_hour {
    margin-bottom: 15px;
}

.req_pr_person {
    margin-bottom: 15px;
}

.req_pr_day {
    margin-bottom: 15px;
}

.enq_pr_date {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_calender.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.enq_pr_guest {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_guest.png) #fff no-repeat 98% center;
    background-size: 20px;
}

.req_pr_title {
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000;
}

.enq_pr_strt_hour {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/clock_hour.png) #fff no-repeat 95% center;
    background-size: 20px;
}

.enq_pr_end_hour {
    width: 48%;
    float: left;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/clock_hour.png) #fff no-repeat 95% center;
    background-size: 20px;
}

.enq_pr_strt_date {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_calender.png) #fff no-repeat 95% center;
    background-size: 20px;
}

.enq_pr_end_date {
    width: 48%;
    float: left;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_calender.png) #fff no-repeat 95% center;
    background-size: 20px;
}

.req_submit_request {
    text-transform: uppercase;
    border: 3px solid #C30202;
    height: 34px;
    padding: 0 12px;
    background-color: #cc0000;
    color: #fff;
    font-size: 14px;
    float: right;
    cursor: pointer;
}

.D_package_popup_blc {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    overflow-x: hidden;
    z-index: 999999;
}

.D_scroll_cont {
    max-height: 530px;
    overflow: auto;
    overflow-x: hidden;
}

.D_package_close {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #FFF;
    font-size: 14px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    background: #8C8C8C;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 2px solid #fff;
    cursor: pointer;
}

.D_popup_book_btn {}

#tabs-contents>li.pkg_tabs>.D_P_packages_list {}

#tabs-contents>li.pkg_tabs>.D_P_packages_list>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tabs-contents>li .D_P_packages_list>li:hover {
    color: #444;
}

#tabs-titles {
    float: left;
    margin-right: 2%;
    list-style-type: none;
    width: 48%;
    border-top: 1px solid #e0e0e0;
    height: 341px;
    overflow: auto;
    overflow-x: hidden;
}

#tabs-titles::-webkit-scrollbar {
    width: 8px;
}

#tabs-titles li {
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 7px 8px;
    border-left: 1px solid #e0e0e0;
    font-size: 15px;
    color: #444;
    text-transform: uppercase;
}

#tabs-titles li.current {
    border-right: 3px solid #cc0000;
    border-bottom: 1px solid #e0e0e0;
}

#tabs-contents {
    padding: 5px;
    float: right;
    width: 50%;
    list-style-type: none;
    height: 341px;
    overflow: auto;
    overflow-x: hidden;
}

#tabs-contents::-webkit-scrollbar {
    width: 8px;
}

#tabs-contents>li.pkg_tabs {
    display: none;
}

#tabs-contents>li.pkg_tabs:first-child {
    display: block;
}

.pkg_tab_subtitle {
    color: #AFAFAF;
    font-style: italic;
    font-size: 13px;
}

#tabs-contents>li.pkg_tabs>.D_P_packages_list>ul>li {
    line-height: 1;
    padding: 5px 0;
    display: inline-block;
    font-size: 14px;
    color: #777;
    width: 30.5%;
    vertical-align: top;
    margin: 0px 1% 5px 1%;
}

.D_popup_book_btn a {
    background-color: #FF5A5F;
    color: #fff;
    padding: 12px 25px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.D_P_pkg_name {
    font-size: 22px;
    color: #2c2c2c;
    font-weight: bold;
    float: left;
    line-height: 1;
    padding-top: 10px;
}

.D_Pkg_head {
    background-color: #f2f5f6;
    padding: 12px 15px;
}

.D_P_pkg_price {
    float: right;
    font-size: 12px;
    color: #2c2c2c;
    line-height: 1;
    vertical-align: middle;
    padding-top: 10px;
}

.D_P_pkg_price_amt {
    color: #b12704;
    font-size: 28px;
    vertical-align: middle;
}

.D_P_pkg_price_sub_amt {
    color: #2c2c2c;
    font-size: 12px;
    vertical-align: middle;
    margin: 0 5px;
    text-decoration: line-through;
}

.D_P_pkg_outer {
    padding: 15px;
}

.pkg_img {
    float: left;
    width: 80px;
    overflow: hidden;
    margin-right: 10px;
}

.pkg_img img {
    width: 100%;
    line-height: 1;
    vertical-align: top;
}

.pkg_right_title {
    float: left;
    width: 70%;
}

.D_package_detail_container {
    background-color: #fff;
    width: 75%;
    min-height: 100px;
    position: relative;
    top: 20px;
    min-height: 50px;
    margin: 20px auto;
    border-radius: 0px;
}

.D_pkg_other_details {}

.D_pkg_additional_details {
    font-size: 16px;
    color: #2c2c2c;
    margin-bottom: 10px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.D_pkg_additional_details i {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
}

.D_pkg_additional_cont {
    font-size: 15px!important;
}

.D_pkg_terms_condi {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    color: #008000;
    font-size: 14px;
}

.D_pkg_terms_condi_content {
    margin-bottom: 10px;
}

.D_P_packages_tab {}

.msg_host_btn {
    background-color: #fff;
    color: #82888A;
    padding: 13px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #82888A;
    margin: 0px auto 0 10px;
}

.msg_host_btn:hover {
    color: #FF5A5F;
}

.msg_host_chat_bx {
    margin: 0px 20px;
    bottom: 0px;
    right: 20%;
    position: fixed;
    background: #ffffff;
    z-index: 999999;
    width: 20%;
    max-width: 250px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    height: 235px;
    border-radius: 7px 7px 0 0;
}

.msg_host_title {
    color: #fff;
    background: #5ba0d0;
    margin: 0 -1px 0 -1px;
    padding: 8px 10px;
    border-radius: 7px 7px 0 0;
    font-size: 14px;
}

.msg_host_fields {
    padding: 10px;
}

.msg_host_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.msg_host_select {
    width: 100%;
    margin-bottom: 15px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 5px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    font-family: "ProximaNova-Regular", "Helvetica Neue", helvetica, arial, sans-serif;
}

.msg_host_date {
    width: 100%;
    margin-bottom: 15px;
    height: 34px;
    border: 1px solid #e0e0e0;
    color: #777;
    text-indent: 10px;
    background: url(../images/D_calender.png) #fff no-repeat 98% center;
    background-size: 20px;
    font-family: "ProximaNova-Regular", "Helvetica Neue", helvetica, arial, sans-serif;
}

.msg_host_start_chating {
    background-color: #ff5a5f;
    color: #fff;
    font-size: 14px;
    float: left;
    padding: 8px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: 1px solid #ff5a5f;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.msg_host_start_chating:hover {
    background-color: transparent;
    color: #ff5a5f;
}

.msg_host_date_flexible {
    margin-bottom: 15px;
    line-height: 1;
    font-size: 12px;
    color: gray;
}

.msg_host_date_flexible input {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

