 /*admin page myvenue allvenue*/

 /*admin page myvenue allvenue*/



/*unity gallery slider start*/
 .container-fluid.container-fluid-padding-none {
     padding-right: 0px;
     padding-left: 0px;
 }
 /*unity gallery slider ended*/
/*show venue page hedding */
/* .showvenue-image-margin {
     margin-top: 82px;
 }
 .margin-lift-hedding{
margin-left: 10px;
     margin-bottom: 10px;
 }
 .margin-lift-hedding >h4 a{
   color:#777777;
 }
 .margin-lift-hedding >h4 a:hover{
     color:#00bac6;
 }
 .avgratingstar{
     color: #f37737;
 }
 .padding-top-showvenue{
     padding-top: 20px;
 }

 #circle {
     position: relative;
     background-color: #09f;
     width: 43px;
     height: 43px;
     border-radius: 200px;
 }
 #text {
     position: absolute;
     top: 50%;
     left: 50%;
     text-transform: uppercase;
     transform: translate(-50%, -50%);
     color: #fff;
 }
 .hover-review-name a{
     color: #818181;
     font-size: 19px;
 }
 .comment-date{
     color: #c6c6c6;
 }
 .social-icon-color .color-social-fb{
     color: #4264AA;
 }
 .social-icon-color .color-social-twi{
     color: #6cb7f0;
 }

 .comment-text{
     font-family: Avenir-Roman,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 14px;
 }
 .user-name{
     font-size: 24px;
 }
*/
 /*show venue page hedding ended*/
/*listvenue page image cssin background*/
#listvenue-image {
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 40px;
    text-align: center;
    background-image: url(../images/background-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.listvenue-image-margin {
    margin-top: 62px;
}
#listvenue-image h2 {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
}

/*bootrstrap modications*/
.control-label{
    margin-top:5px;
    font-size: 16px;
    color:dimgrey;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 22px;
}
h4{
    font-size: 25px;
}

/*bootrstrap modications ended*/
/*common classes start*/
/*.body-content{
    margin-top: -82px;
}*/
/*common classes ended*/




