/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 May, 2017, 12:07:22 PM
    Author     : Developer
*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
/*** Footer layout styles */
 .opal-footer .footer-top {
    padding-top: 70px;
    padding-bottom: 25px;
}
 
.opal-footer {
  color: #727272;
  background: #292e38;
  }
  .opal-footer .footer-bottom-inner {
    border-bottom: 2px solid #3d444f;
    border-top: 2px solid #3d444f;
    padding-bottom: 40px;
    padding-top: 40px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .opal-footer .footer-bottom-inner .clearstyle {
        clear: both; } }
  .opal-footer .kc_single_image {
    margin-bottom: 5px; }
  .opal-footer .opal-footer-profile .widget .widget-title,.opal-footer .opal-footer-profile .widget .widgettitle {
    color: #fff; }
  .opal-footer .opal-footer-profile .widget.widget_popupnewsletter {
    margin-bottom: 0; }
  .opal-footer .icon-menu li {
    position: relative;
    padding-left: 20px;
    line-height: 30px; }
    .opal-footer .icon-menu li:before {
      content: "\f105";
      font-family: FontAwesome;
      left: 0;
      position: absolute;
      top: -2px; }
  .opal-footer .widget_recent_entries a {
    color: #fff;
    text-transform: none;
    font-size: 16px; }
    .opal-footer .widget_recent_entries a:hover {
      color: #00bac6; }
    .opal-footer .widget_recent_entries a:before {
      color: #fff; }
  .opal-footer .widget_nav_menu a {
    color: #727272;
    line-height: 30px; }
    .opal-footer .widget_nav_menu a:hover {
      color: #00bac6; }
  .opal-footer .widget {
    border: none; }
    .opal-footer .widget .widget-title,.opal-footer .widget .widgettitle {
      font-size: 16px;
      border: none;
      margin-bottom: 22px;
      color: #fff; }
  .opal-footer .highlight .kc-title-wrap,.opal-footer .widget.widget_sp_image {
    margin-bottom: 0; }
  .opal-footer .highlight .kc_title,.opal-footer .highlight .widgettitle {
    font-size: 18px;
    margin-bottom: 75px;
    text-align: left;
    color: #fff;
    position: relative; }
    .opal-footer .highlight .kc_title:after,.opal-footer .highlight .widgettitle:after {
      background: #00bac6;
      height: 2px;
      width: 80px;
      content: "";
      position: absolute;
      left: 0;
      top: 35px; }
 
    
    .popupnewsletter span {
    font-size: 16px; }
  .pull-right {
  float: right !important;
  margin-left: 0 !important; }
  
  .popupnewsletter {
  margin-top: 20px; }
  .popupnewsletter .btn-flying-right {
    background: transparent;
    padding: 0;
    color: #f37737;
    font-size: 20px;
    line-height: 20px;
    padding: 0 10px; }
  
  /*** End Footer layout styles */
  
