
/*Most Popular Venues mobile view start*/
/*@media (max-width: 480px) {*/
/*.mobile-view {*/
    /*width: 250px;*/
/*}*/
/*}*/
.most-popular-venue-width-box{
    width: 903px;
}
/*Most Popular Venues mobile view ended*/

/*@font-face {*/
    /*font-family: myFirstFont;*/
    /*src: url(sansation_light.woff);*/
/*}*/

/*@font-face {*/
    /*font-family: myFirstFont;*/
    /*src: url(sansation_bold.woff);*/
    /*font-weight: bold;*/
/*}*/
/*html  mdbootraup modiications start*/
p {
    /*font-size: 1.25rem;*/
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
}

/*html modiications ended*/


/*common classes start*/
/*.body-content{*/
    /*margin-top: -95px;*/
/*}*/
/*common classes ended*/

/*app mobile Vide stat*/
/* effect-v11*/

/*========================Quick and Easy Search MOUSE HOVER RUN  start=====================================*/
.effect-default {
    overflow: hidden;
    position: relative;
    display: block !important; }
.effect-default:before {
    background: hsla(0,0%,100%,.1) none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 559px;
    position: absolute;
    right: 755px;
    top: 0;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    -webkit-transition: all .6s ease-in-out 0s;
    -o-transition: all .6s ease-in-out 0s;
    transition: all .6s ease-in-out 0s;
    width: 600px; }
.effect-default:hover:before {
    right: -900px; }

.feature-box {
    color: #999; }
.feature-box small {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block; }
.feature-box h4 {
    margin: 0;
    font-size: 24px;
    color: #292e38; }
.feature-box .fbox-icon {
    float: left;
    color: #00bac6; }
.feature-box .fbox-icon i {
    font-size: 30px; }
.feature-box.feature-box-nostyle h4 {
    margin-bottom: 0; }
.feature-box.feature-box-nostyle small {
    color: rgba(34,34,34,.5);
    line-height: 1; }
.feature-box.feature-box-nostyle .fbox-icon {
    margin-top: 5px; }

.feature-box-v1 {
    margin-top: 40px; }
.feature-box-v1 .fbox-body {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 7px; }
.feature-box-v1 .fbox-content {
    overflow: hidden; }
.feature-box-v1 h4 {
    font-size: 24px; }
.feature-box-v1 .fbox-icon {
    margin-right: 35px;
    width: 87px;
    height: 87px;
    border-radius: 100%;
    color: #292e38;
    line-height: 87px;
    text-align: center;
    z-index: 1;
    transition: color .5s ease 0s;
    position: relative;
    background: #fbfbfb; }

.feature-box-v2 {
    margin-bottom: 60px; }
.feature-box-v2 .description {
    line-height: 30px; }
.feature-box-v2 .fbox-content {
    overflow: hidden; }
.feature-box-v2 .fbox-icon {
    margin-right: 30px;
    position: relative; }
.feature-box-v2 .fbox-icon i {
    font-size: 50px;
    color: #00bac6;
    -webkit-transition: opacity 1s ease 0s,transform .5s ease 0s;
    -o-transition: opacity 1s ease 0s,transform .5s ease 0s;
    transition: opacity 1s ease 0s,transform .5s ease 0s;
    display: block; }
.feature-box-v2 small {
    font-size: 15px;
    color: #9a9da3; }
.feature-box-v2 h4 {
    margin-bottom: 20px;
    font-size: 18px; }
.feature-box-v2:hover i {
    color: #00bac6;
    -webkit-transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1);
    -ms-transform: scale3d(1.1,1.1,1);
    -o-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1); }

.feature-box-v3 {
    position: relative;
    text-align: center;
    margin-bottom: 50px; }
.feature-box-v3 h4 {
    margin-bottom: 15px;
    color: #fff; }
.feature-box-v3 .fbox-icon {
    float: none;
    margin-bottom: 45px;
    background: #00bac6;
    border-radius: 5px;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }
.feature-box-v3 .fbox-icon i {
    position: relative;
    color: #fff; }
.feature-box-v3.style-box .fbox-icon {
    background: #f37737; }
.feature-box-v3.style-boxed .fbox-icon {
    background: #fec52e; }
.feature-box-v3:hover h4 a {
    color: #00bac6;
    -webkit-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s; }
.feature-box-v3:hover .fbox-icon {
    transform: rotate(165deg) scale(1); }
.feature-box-v3 .description {
    color: #aeaeae;
    padding: 0 30px; }

.around-img img:hover {
    animation: b 2s linear infinite;
    -moz-animation: b 2s linear infinite;
    -webkit-animation: b 2s linear infinite;
    -o-animation: b 2s linear infinite; }

.feature-box.feature-box-v4 {
    text-align: center; }
.feature-box.feature-box-v4 .fbox-icon {
    text-align: center;
    float: none !important;
    margin: 0 0 15px; }
.feature-box.feature-box-v4 .fbox-icon i {
    font-size: 30px;
    color: #00bac6;
    -webkit-transition: opacity 1s ease 0s,transform .5s ease 0s;
    -o-transition: opacity 1s ease 0s,transform .5s ease 0s;
    transition: opacity 1s ease 0s,transform .5s ease 0s; }
.feature-box.feature-box-v4 h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px; }
.feature-box.feature-box-v4 .description {
    font-size: 13px; }
.feature-box.feature-box-v4:hover h4 {
    color: #00bac6; }
.feature-box.feature-box-v4:hover .fbox-icon i {
    -webkit-transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1);
    -ms-transform: scale3d(1.1,1.1,1);
    -o-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1); }
/*image hedden*/
.header {
    overflow: hidden;
}
/*image hedden ended*/
/*========================Quick and Easy Search MOUSE HOVER RUN ENDED=====================================*/



/*========================Slider inade text start=====================================*/
body.kc-css-system .kc-css-242858 {
    background: transparent url(https://wpopaldemo.com/rentme/wp-content/uploads/2016/11/background-3.jpg) 0% 0%/auto no-repeat scroll;
    padding-top: 70px;
  }
   body.kc-css-system .kc-css-593086 {
      width: 50%;
    }
     body.kc-css-system .kc-css-328129 {
      width: 100%;
    }
      body.kc-css-system .kc-css-743667,
  body.kc-css-system .kc-css-743667 p {
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
  }

  body.kc-css-system .kc-css-743667 {
    padding-top: 50px;
    padding-bottom: 40px;
  }
   body.kc-css-system .kc-css-320986 {
      width: 100%;
    }

   /*==================================Category fa fa-icon  home block start==================================*/
.opallisting-listing-types-list.horizontal {
    text-align: center;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 11px;
}
.highlight .opallisting-listing-types-list.horizontal li {
    padding: 0;
    width: 90px;
    height: 90px;
    display: inline-flex;
    margin-right: 15px;
    margin-bottom: 15px;
}
.opallisting-listing-types-list.horizontal li {
    padding: 0 20px;
    float: none;
}
opallisting-listing-types-list li a{
    color: #d4d7de;
    /*padding: 10px 0;*/
    font-size: 20px;
    display: block;
    position: relative;
}
.highlight .opallisting-listing-types-list.horizontal a {
    color: transparent !important;
}


.highlight .opallisting-listing-types-list.horizontal a:hover i {
    background: #fff;
    color: #f37737;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.highlight .opallisting-listing-types-list.horizontal i {
    display: block;
    padding: 0;
    text-align: center;
    width: 90px;
    height: 90px;
    background: hsla(0,0%,100%,.4);
    line-height: 90px;
    border-radius: 4px;
    font-size: 40px;
}
.opallisting-listing-types-list.horizontal li a i {
    padding: 0 10px;
    font-size: 30px;
    color: hsla(0,0%,100%,.6);
    vertical-align: bottom;
}
/*==============================Category fa fa-icon  home blockended =====================*/





/*==========================background video code start====================================*/

a, a:focus, a:hover {
    text-decoration: none;
}
/*background video Start Code css*/

  div#MainVideo {
    display: block;
  }

  @media only screen and (max-width:768px) {
    .MobileViewVideo {
      height: 200px!important;
    }
  }
  /*==========================background video code ended====================================*/


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Heebo;
    font-weight: 600;
    line-height: 1.1;
    color: #292e38;
}
/*===============================Featured Categories bloack-heading strat================================*/
.mobile-view-box-center{
    text-align: -webkit-center;

}
.item-title-block-hover > a {
    color: #000;
    text-decoration: none;
}
.trending-categories-heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.item-title-block-hover{
    background: #fff;
    color: #404551;
    text-align: center;
    /*padding: 20px 0; */
    /*font-size: 14px;*/
    /*text-transform: uppercase;*/
    margin: 0;
    margin-bottom: 10px;
    margin-left: 13px;
}
.item-title-block-hover:hover{
    background: #00bac6;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.item-title-block-hover:hover a {
    color: #fff;
}
/*@media only screen and (max-width:480px) {*/
    /*.mobile-view-block-center{*/
        /*margin-left: 74px;*/
    /*}*/
/*}*/
/*===============================Featured Categories bloack-heading ended================================*/


.featured-categories-hedding-name {
    color: #404551;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;

}







/*=============================Slider image in text start========================== */
 .background-image-block {
    background: transparent url(../images/background-2.jpg) 0% 0%/auto no-repeat scroll;
     /*padding-top: 215px;*/
     padding-bottom: 320px;
  }
  .text-image-center-block{
      text-align: center;
      
  }
  .testimonials-description-block{
          color: #292e38;
    font-size: 30px;
    line-height: 40px;         
/*    
    padding: 40px 0;*/
/*    position: relative;
    padding-left: 28px;*/
  }
 .testimonials-name-block{
        font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #00bac6;
  }
 .carousel-indicators li {
    border: 1px solid #00bac6;
  }
  .carousel-indicators{
      top: 100%;
       left: 50%;
  }
/*=============================Slider image in text ended========================== */

/*=====================Number auto run css =================================*/
.kc_counter_box {
    color: #00bac6;
}
.kc_counter_box .counterup {
    color: #292e38;
}
.kc_counter_box h4 {
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 400;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 11px;
    margin-bottom: 11px;
}
/*.h4 {*/
    /*font-size: none;*/
    /*line-height: 110%;*/
    /*margin: 1.78rem 0 1.424rem 0;*/
/*}*/
/*=====================Number auto run css ended =================================*/

/*=====================Latest News strat =================================*/
.kc-wrap-columns {
    width: auto !important;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}
/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {*/
    /*font-family: Heebo;*/
    /*font-weight: 500;*/
    /*line-height: 1.1;*/
    /*color: #292e38;*/
/*}*/

.blog-layout, .bloggrid-layout {
    margin: 0 -15px;
}
.blog-layout article.post {
    background: #fff;
}
.blog-item.first {
    clear: both;
}
article.post {
    margin-bottom: 30px;
}
article {
    position: relative;
}

.blog-layout .post-image {
    text-align: center;
}
.blog-layout .post-image, .blog-layout .post-info {
    width: 100%;
}
.blog-layout .post-image {
    text-align: center;
}
.blog-layout .post-image img {
    border-radius: 3px;
}
.entry-content, .entry-summary, .page-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 25px;
}
article .entry-title {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 28px;
    font-weight: 600;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}
a {
    color: #292e38;
}
.entry-category a {
    padding: 0 5px;
}
/*=====================Latest News ended =================================*/

/*=========================. css============*/
.entry-meta span {
    display: inline-block;
}
.meta-sep {
    background-color: #999;
    width: 3px;
    height: 3px;
    margin: 3px 5px;
}

.entry-meta {
    clear: both;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 1200px)
{
    .blog-layout .post-image, .blog-layout .post-info {
        width: 50%;
    }}
@media (min-width: 1200px)
{
    .blog-layout .post-info {
        padding: 10px 25px;
    }}
/*========================= .css ended============*/




/*===============Quick and Easy Search css start=====================*/

body {
    font-family: Heebo,sans-serif;
    font-size: 14px;
    line-height: 1.62857;
    color: #727272;
    background-color: #f7f7f7;
}
.heding-color-block {
    color: #fff;
}
.feature-box-v3 {
    position: relative;
    text-align: center;
    margin-bottom: 35px !important;
}
.feature-box {
    color: #999;
}
.feature-box-v3 .fbox-icon {
    float: none;
    margin-bottom: 45px;
    background: #00bac6;
    border-radius: 5px;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.feature-box .fbox-icon {
    float: left;
    color: #00bac6;
}
.feature-box-v3 .fbox-icon i {
    position: relative;
    color: #fff;
}
.feature-box .fbox-icon i {
    padding-top: 20px;
    font-size: 30px;
}
.feature-box-v3 h4 {
    margin-bottom: 15px;
    color: #fff;
}
.feature-box h4 {
    margin: 0;
    font-size: 24px;
    /*color: #292e38;*/
}
.feature-box-v3 {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
/*.feature-box-v3 .description {*/
    /*color: #aeaeae;*/
    /*padding: 0 30px;*/
/*}*/
/*p {*/
    /*margin: 0 0 11px;*/
/*}*/
.feature-box-v3 .fbox-icon {
    float: none;
    margin-bottom: 45px;
    background: #00bac6;
    border-radius: 5px;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
/*===============Quick and Easy Search css ended=====================*/


/*===============================Popular city start=======================================*/
.city {
    text-align: center;
    padding-bottom: 20px;
}
.FullHeight {
    height: 100%;
}
.BoxShadow {
    /*box-shadow: 5px 5px 14px 0 rgba(61,57,53,.5);*/

}
.noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.ActivityLocation {
    position: absolute;
    top: 20px;
    left: 0;
    height: 60px;
    color: black;
    background-color: #fff;
    /* background-color: transparent; */
    padding: 8px;
    /* color: #3d3935; */
    z-index: 2;
}
.ActivityImagePad {
    padding-left: 0;
    padding-right: 10px;

}
.activityHolder {
    min-height: 200px;
}
.FullAbsoluteImage:hover {
    box-shadow: 5px 5px 5px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}
.ActivityWrapper img {
    max-height: 223px;
    min-height: 223px;
}

#MBHeader2 {
    font-size: 34px !important;
    font-weight: bold !important;
}
/*====================================*/

/*=====================================Popular city ended==============================================*/



/*!*Reviews Place css box *!*/
/*.place-reviews-place-block {*/

    /*position: absolute;*/
    /*bottom: 70px;*/
    /*padding: 0 20px;*/
    /*text-align: left;*/
    /*!*    -webkit-transition: .3s ease;*!*/
    /*-o-transition: .3s ease;*/
    /*transition: .3s ease;*/
    /*box-shadow: none;*/
/*}*/
/*!*.place-title-heding-block a {*!*/
/*!*color: #fff;*!*/
/*!*}*!*/
/*.class-hover-block a{*/
    /*color: #fff;*/
/*}*/
/*.class-hover-block a:hover{*/
    /*color: #00bac6;*/
/*}*/
/*.font-size-bookmark{*/
    /*font-size: 15px;*/

/*}*/
/*.image-background-color {*/
    /*!*  position: absolute;*!*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(35,54,57,.6);*/
    /*-webkit-transition: background-color .35s;*/
    /*transition: background-color .35s;*/
    /*content: "";*/

    /*!*    pointer-events: none  *!*/
/*}*/

/*=================================all css in home start==============================================*/
@media only screen and (min-width:1000px) and (max-width:5000px) {
    body.kc-css-system .kc-css-798707 {
        width: 100%;
    }
    body.kc-css-system .kc-css-464064 {
        width: 15%;
    }
    body.kc-css-system .kc-css-382711 {
        width: 70%;
    }
    body.kc-css-system .kc-css-84687 {
        width: 15%;
    }
    body.kc-css-system .kc-css-567221 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-171656 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-351067 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-360221 {
        width: 25%;
    }
    body.kc-css-system .kc-css-856406 {
        width: 25%;
    }
    body.kc-css-system .kc-css-873734 {
        width: 25%;
    }
    body.kc-css-system .kc-css-19773 {
        width: 25%;
    }
    /*    body.kc-css-system .kc-css-593086 {
          width: 50%;
        }*/
    /*    body.kc-css-system .kc-css-328129 {
          width: 100%;
        }*/

    body.kc-css-system .kc-css-723877 {
        width: 50%;
    }
    body.kc-css-system .kc-css-574971 {
        width: 100%;
    }
}


body.kc-css-system .kc-css-415536 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

body.kc-css-system .kc-css-946 {
    margin-top: -300px;
}

body.kc-css-system .kc-css-670160 {
    margin-top: -130px;
}

body.kc-css-system .kc-css-735420 {
    background: #ffffff;
    padding: 85px 65px 55px 65px;
    border-top: 6px solid #00bac6;
;
    border-radius: 3px 3px 3px 3px;
}

body.kc-css-system .kc-css-798707 {
    text-align: center;
}

body.kc-css-system .kc-css-187973,
body.kc-css-system .kc-css-187973 p {
    color: #292e38;
    font-size: 50px;
    line-height: 50px;
    font-weight:600;
    text-align: center;
}

body.kc-css-system .kc-css-187973 p {
    margin-top: 30px;
}

body.kc-css-system .kc-css-108448,
body.kc-css-system .kc-css-108448 p {
    font-size: 16px;
    font-weight: 300;
}

body.kc-css-system .kc-css-108448 p {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-539876 {
;
}

body.kc-css-system .kc-css-290058 {
    margin-bottom: 80px;
}

body.kc-css-system .kc-css-377517 {
    padding-right: 0px;
    padding-left: 0px;
}

body.kc-css-system .kc-css-19986 {
;
}
/*body.kc-css-system .kc-css-242858 {
    background: transparent url(https://wpopaldemo.com/rentme/wp-content/uploads/2016/11/background-3.jpg) 0% 0%/auto no-repeat scroll;
    padding-top: 70px;
  }*/
body.kc-css-system .kc-css-440330 {
    background: transparent url(../images/background-1.jpg) 0% 0%/auto no-repeat scroll;
    padding-top: 70px;
    padding-bottom: 150px;
}

/*  body.kc-css-system .kc-css-183558 {
    margin-top: -50px;
    margin-bottom: 50px;
  }*/

body.kc-css-system .kc-css-476976 {
    background: #ffffff;
    padding-top: 90px;
    padding-bottom: 90px;
}

body.kc-css-system .kc-css-752227 .counterup {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

body.kc-css-system .kc-css-752227 i {
    font-size: 60px;
    line-height: 60px;
}

body.kc-css-system .kc-css-21161 .counterup {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

body.kc-css-system .kc-css-21161 i {
    font-size: 60px;
    line-height: 60px;
}

body.kc-css-system .kc-css-158607 .counterup {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

body.kc-css-system .kc-css-158607 i {
    font-size: 60px;
    line-height: 60px;
}

body.kc-css-system .kc-css-531757 .counterup {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

body.kc-css-system .kc-css-531757 i {
    font-size: 60px;
    line-height: 60px;
}

body.kc-css-system .kc-css-372420 {
    background: #efefef;
    padding-bottom: 80px;
}

body.kc-css-system .kc-css-478991 {
    background: transparent url(https://wpopaldemo.com/rentme/wp-content/uploads/2016/11/background-2.jpg) 0% 0%/auto no-repeat scroll;
    padding-top: 80px;
    padding-bottom: 280px;
}

/*  body.kc-css-system .kc-css-70411 {
    margin-bottom: 60px;
  }*/





@media only screen and (max-width:1024px) {
    body.kc-css-system .kc-css-946 {
        background: #292e38;
        margin-top: 0px;
        padding-top: 30px;
    }
    body.kc-css-system .kc-css-670160 {
        margin-top: 0px;
    }
    body.kc-css-system .kc-css-735420 {
        margin-right: -15px;
        margin-left: -15px;
        padding: 20px 20px 20px 20px;
    }
    body.kc-css-system .kc-css-440330 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle; }
@media (max-width: 480px) {
    .opallisting-carousel.owl-theme .owl-controls .owl-buttons div {
        opacity: 0 !important;
    }

    #opal-masthead .logo-wrapper {
        width: 100%;
        text-align: center;
    }
}
/*=================================all css in home ended==============================================*/