

/*=============================================start navbar css ================================*/
/*html mdbootstrup  modiications start*/



.custom-navbar{
    background: none;
}

.custom-navbar .navbar-nav > li > a{
    font-family: Heebo;
    font-weight: bold;
    font-size: 15px;
}
/*.custom-navbar-margin>.navbar-nav{*/

    /*margin: 1px!important;*/
/*}*/
.navbar-fixed-top{
    padding: 0px;
}
.navbar-fixed-top .navbar-nav > li{
    font-size: 14px;
}

.navbar-white-background{
    background: white;
}
.navbar-white-background .navbar-nav> li >a{
    color:black;
}

.navbar-transparent-background{
    background: none;
}
.navbar-transparent-background .navbar-nav> li >a{
    color:white;
}
/*.navbar-white-background > li > a:hover{*/
    /*color: black;*/
    /*!*background-color: transparent;*!*/
/*}*/
.navbar-white-background.navbar .navbar-nav > li > a:hover {
    color: black;
    background-color: transparent;
}
.dropdown-menu li > a, .dropdown-menu li > span {
    /* font-size: 1.2rem; */
    font-size: 14px;
    color: black;
    display: block;
    padding: 1rem 1rem;
}
.dropdown-menu li >a:hover {
    color: #00bac6;
}
/*html mdbootstrup  modifications ended*/

 /*bootstrup modifivations stat*/
.dropdown-menu {
     min-width: auto;
}
.login-margin-right{
    margin-right:0;
}
/*bootstrup modifivations ended*/