﻿a.disabled {
	/* Make the disabled links grayish*/
	color: gray;
	/* And disable the pointer events */
	pointer-events: none;
}

.aside-menu-fixed.aside-menu-hidden .main {
	background-color:white
}
.aside-menu-fixed.aside-menu-hidden .app-footer{
	background-color:#333;
	color:white;
}
.form-control:invalid {
    background-image: linear-gradient(0deg,#9c27b0 2px,rgba(244,67,54,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image).card-style {
	padding: 0px;
}
.card-image-style
{
	border-radius: 3px;
}
.card .table tr:first-child td {
    border-top: 1px solid #ddd;
}
.form-group input[type=file] {
    opacity: 1;
    position: inherit;
}